@import '../../styles/mixins/responsive';
@import '../../styles/mixins/button';

@mixin link-hover {
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 0%;
		background: #fff;
		transition: 0.5s;
	}
	&:hover {
		&::before {
			width: 100%;
		}
	}
}

.header {
	display: grid;
	width: 100vw;
	padding: 40px 34px;
	grid-template-columns: 1fr max-content 1fr;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	@include mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100vh;
		width: 100%;
		max-width: 500px;
		background: #151515;
		transform: translateX(-100%);
		transition: 0.5s;
		z-index: 1;
		&.open {
			transform: translateX(0);
		}
		&__close {
			position: absolute;
			top: 2rem;
			right: 2rem;
			text-align: center;
			font-size: 32px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			background: none;
			color: inherit;
			border: none;
			cursor: pointer;
		}
		&__nav {
			&__list {
				display: grid;
				gap: 33px;
				list-style: none;
				&__item {
					font-size: 32px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					position: relative;
					width: max-content;
					text-align: center;
					@include link-hover;
				}
			}
		}
	}
	&__menu_overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
	&__left {
		display: flex;
		gap: 10px;
		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
			background: none;
			border: none;
			cursor: pointer;
			height: max-content;
			padding-top: 5px;
		}
		&__lang {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
	&__logo {
		justify-self: center;
	}
	&__nav {
		justify-self: end;
		@include mobile {
			display: none;
		}
		&__list {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 17px;
			&__item {
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				position: relative;
				padding-bottom: 5px;
				@include desktop-large-max-width {
					font-size: 18px;
				}
				@include link-hover;
				&.button {
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 21px;
					padding: 0px 10px;
					border-radius: 30px;
					border: 1px solid #fff;
					@include button;
					&::before {
						display: none;
					}
				}
			}
		}
	}
}
