@import '../mixins/responsive';

.CloudBedsWidget {
	$input-background: rgba(0, 0, 0, 0.37);
	& .widgetHotelsForm {
		& .horizontal-widget {
			display: flex;
			align-items: center;
			border: 2px solid #d9d9d9;
			padding-left: 22px;
			border-radius: 100px;
			border-bottom-left-radius: initial;
			border-top-left-radius: initial;
			@include mobile {
				border-left: 2px solid #d9d9d9;
				border-radius: 100px;
			}
			@mixin text {
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				font-family: inherit !important;
			}
			& .acessa_widget_block {
				display: flex !important;
				align-items: center;
				justify-content: center;
				margin-right: 4px !important;
				gap: 4px;
				color: #fff;
				&:first-of-type:before {
					content: 'IN';
					@include text;
				}
				&:last-of-type:before {
					content: 'OUT';
					@include text;
				}
				p {
					display: none;
				}
				& .widgetHotelsInputText {
					min-height: 24px;
					padding: 0 6px;
					color: #e9e1e1;
					font-family: inherit !important;
					font-size: 13px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					border-radius: 30px;
					background: $input-background;
					box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
					outline: none;
					border: none;
					&:focus-visible {
						box-shadow: 0 0 0 2px #fff;
					}
				}
			}
			& a.submit_link {
				width: 47px;
				height: 47px;
				margin-left: 4px;
				min-width: initial !important;
				display: flex !important;
				border-radius: 50% !important;
				align-items: center;
				justify-content: center;
				top: initial;
				position: relative;
				background: $input-background;
				@include text;
				&:hover {
					background: $input-background;
				}
				&:before {
					content: 'GO';
					filter: blur(1.5px);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: -1;
					@include text;
				}
			}
		}
	}
}

.CloudBedsDatePicker {
	border-radius: 30px;
	background: #d9d9d9;
	font-family: inherit !important;
	& .pika-table abbr {
		text-decoration: none;
	}
	& .pika-button:hover {
		background: #151515 !important;
	}
}
