@import '../../../styles/mixins/button';
@import '../../../styles/mixins/responsive';

.space {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: flex-end;
	background-color: #151515;
	position: relative;
	overflow: hidden;
	padding: 76px 82px;
	@include height-mini {
		padding-bottom: 160px;
	}
	@include mobile {
		justify-content: center;
		padding: 56px;
		padding-bottom: 14rem;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__content {
		color: #fff;
		z-index: 2;
		&__title {
			display: grid;
			font-size: 64px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			@include mobile {
				font-size: 32px;
			}
			@include desktop-large-max-width {
				font-size: 80px;
			}
			&__top {
				@include mobile {
					display: none;
				}
			}
			&__bottom {
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				font-weight: 800;
			}
		}
		&__description {
			max-width: 552px;
			margin-bottom: 120px;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			@include height-mini {
				margin-bottom: 32px;
			}
			@include mobile {
				margin-bottom: 32px;
				font-weight: 400;
				display: none;
			}
			@include desktop-large-max-width {
				font-size: 20px;
				max-width: 700px;
			}
		}
		&__description_mobile {
			display: none;
			@include mobile {
				display: block;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				margin-bottom: 32px;
			}
		}
		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: max-content;
			min-height: 39px;
			padding: 0 40px;
			@include button;
		}
	}
}
