@import '../../styles/mixins/responsive';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	background: #151515;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	font-family: inherit;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 1);
	border-radius: 1rem;
}

.infochat_custommain,
#chatbotmobile .infochat_floatmain {
	z-index: 2 !important;
}

body:has(#home) .infochat_floatmain,
body:has(#rooms) .infochat_floatmain,
body:has(#room) .infochat_floatmain {
	@include mobile {
		bottom: 10rem !important;
	}
}

body:has(#home) #whatsapp-button,
body:has(#rooms) #whatsapp-button,
body:has(#room) #whatsapp-button {
	@include mobile {
		bottom: 16rem !important;
	}
}
