.section_footer {
	display: grid;
	grid-template-rows: 1fr auto;
	height: 100%;
	&__img {
		width: 100%;
		height: 100%;
		background-image: url('/delete/footer.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
